@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Crash>

<h1>DATA</h1>

<table class="table table-bordered table-responsive">
    <thead class="bg-primary text-white">
        <th>
            Crash Datetime
        </th>
        <th>
            Route
        </th>
        <th>
            Mile Point
        </th>
        <th>
            Lattitude
        </th>
        <th>
            Longitude
        </th>
        <th>
            Road Name
        </th>
        <th>
            Location
        </th>
        <th>
            Crash Severity
        </th>
        <th>
            Work Zone Related?
        </th>
        <th>
            Pedestrian Involved?
        </th>
        <th>
            Cyclist Involved?
        </th>
        <th>
            Motorcycle Involved?
        </th>
        <th>
            Improper Restraint?
        </th>
        <th>
            Unrestrained?
        </th>
        <th>
            DUI?
        </th>
        <th>
            Intersection Related?
        </th>
        <th>
            Wild Animal Related?
        </th>
        <th>
            Domestic Animal Related?
        </th>
        <th>
            Overturned Rollover?
        </th>
        <th>
            Commercial Vehicle Involved?
        </th>
        <th>
            Teenage Driver Involved?
        </th>
        <th>
            Older Driver Involved?
        </th>
        <th>
            Night Condition?
        </th>
        <th>
            Single Vehicle?
        </th>
        <th>
            Distracted Driving?
        </th>
        <th>
            Drowsy Driving?
        </th>
        <th>
            Roadway Departure?
        </th>
    </thead>
    <tbody>
        @foreach (Crash c in Model)
            {
        <tr>
            <td>@c.CRASH_DATETIME</td>
            <td>@c.ROUTE</td>
            <td>@c.MILEPOINT</td>
            <td>@c.LAT_UTM_Y</td>
            <td>@c.LONG_UTM_X</td>
            <td>@ViewBag.roads[c.ROAD_ID]</td>
            <td>@ViewBag.locations[c.LOCATION_ID]</td>
            <td>@c.CRASH_SEVERITY_ID</td>
            <td>@c.WORK_ZONE_RELATED</td>
            <td>@c.PEDESTRIAN_INVOLVED</td>
            <td>@c.BICYCLIST_INVOLVED</td>
            <td>@c.MOTORCYCLE_INVOLVED</td>
            <td>@c.IMPROPER_RESTRAINT</td>
            <td>@c.UNRESTRAINED</td>
            <td>@c.DUI</td>
            <td>@c.INTERSECTION_RELATED</td>
            <td>@c.WILD_ANIMAL_RELATED</td>
            <td>@c.DOMESTIC_ANIMAL_RELATED</td>
            <td>@c.OVERTURN_ROLLOVER</td>
            <td>@c.COMMERCIAL_MOTOR_VEH_INVOLVED</td>
            <td>@c.TEENAGE_DRIVER_INVOLVED</td>
            <td>@c.OLDER_DRIVER_INVOLVED</td>
            <td>@c.NIGHT_DARK_CONDITION</td>
            <td>@c.SINGLE_VEHICLE</td>
            <td>@c.DISTRACTED_DRIVING</td>
            <td>@c.DROWSY_DRIVING</td>
            <td>@c.ROADWAY_DEPARTURE</td>
        </tr>
            }
    </tbody>
</table>