@{
    ViewData["Title"] = "Admin - Crashes";
    Layout = "_AdminLayout";
}
@model Crash


<h1>Admin: Edit</h1>
<div class="container border rounded shadow mt-3">
    <h3 class="my-3">Edit an existing crash</h3>
    <form method="post" asp-controller="Admin" asp-action="Edit">
        <div class="form-group">
            <div asp-validation-summary="All"></div>
            <input asp-for="CRASH_ID" type="hidden" /><br />

            <div class="row">
                <div class="col">
                    <div class="float-left">
                        <label asp-for="CRASH_DATETIME" class="d-inline-block">Date/Time (YYY-MM_DD HH-MM): </label>
                    </div>
                    <div class="float-right">
                        <input asp-for="CRASH_DATETIME" />
                    </div>
                </div>
                <div class="col">
                    <div class="float-left">
                        <label asp-for="Minute" class="d-inline-block">Minute: </label>
                    </div>
                    <div class="float-right">
                        <input asp-for="Minute" />
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="float-left">
                        <label asp-for="Hour" class="d-inline-block">Hour: </label>
                    </div>
                    <div class="float-right">
                        <input asp-for="Hour" />
                    </div>
                </div>
                <div class="col">
                    <div class="float-left">
                        <label asp-for="Year" class="d-inline-block">Year: </label>
                    </div>
                    <div class="float-right">
                        <input asp-for="Year" />
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="float-left">
                        <label asp-for="Month" class="d-inline-block">Month: </label>
                    </div>
                    <div class="float-right">
                        <input asp-for="Month" />
                    </div>
                </div>
                <div class="col">
                    <div class="float-left">
                        <label asp-for="Month" class="d-inline-block">Month: </label>
                    </div>
                    <div class="float-right">
                        <input asp-for="Month" />
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="float-left">
                        <label asp-for="ROUTE" class="d-inline-block">Route: </label>
                    </div>
                    <div class="float-right">
                        <input asp-for="ROUTE" />
                    </div>
                </div>
                <div class="col">
                    <div class="float-left">
                        <label asp-for="MILEPOINT" class="d-inline-block">Mile Point: </label>
                    </div>
                    <div class="float-right">
                        <input asp-for="MILEPOINT" />
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="float-left">
                        <label asp-for="LAT_UTM_Y" class="d-inline-block">Latitude (UTM): </label>
                    </div>
                    <div class="float-right">
                        <input asp-for="LAT_UTM_Y" />
                    </div>
                </div>
                <div class="col">
                    <div class="float-left">
                        <label asp-for="LONG_UTM_X" class="d-inline-block">Longitude (UTM): </label>
                    </div>
                    <div class="float-right">
                        <input asp-for="LONG_UTM_X" />
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
            <label asp-for="ROAD_ID">Road: </label><br />
            <select asp-for="ROAD_ID">
                <option disabled selected>-- SELECT A ROAD --</option>
                @foreach (var r in ViewBag.road)
                {
                    @if (r.MAIN_ROAD_NAME is null)
                    {
                        <option value=@r.ROAD_ID>NULL</option>
                    }
                    else
                    {
                        <option value=@r.ROAD_ID>@r.MAIN_ROAD_NAME</option>
                    }
                }
            </select>
            <small class="form-text text-muted">Not finding the road? Add a new road <a target="_blank" asp-controller="Admin" asp-action="Roads">here</a></small>
            <label asp-for="LOCATION_ID">Location: </label><br />
            <select asp-for="LOCATION_ID">
                <option disabled selected>-- SELECT A LOCATION --</option>
                @foreach (var r in ViewBag.loc)
                {
                    @if (r.CITY is null & r.COUNTY_NAME is null)
                    {
                        <option value=@r.LOCATION_ID>NULL, NULL</option>
                    }
                    else if (r.COUNTY_NAME is null)
                    {
                        <option value=@r.LOCATION_ID>@r.CITY, NULL</option>
                    }
                    else if (r.CITY is null)
                    {
                        <option value=@r.LOCATION_ID>NULL, @r.COUNTY_NAME</option>
                    }
                    else
                    {
                        <option value=@r.LOCATION_ID>@r.CITY, @r.COUNTY_NAME</option>
                    }
                }
            </select>
            <small class="form-text text-muted">Not finding the location? Add a new location <a target="_blank" asp-controller="Admin" asp-action="Locations">here</a></small>
            <label asp-for="CRASH_SEVERITY_ID">Crash Severity: </label><br />
            <select asp-for="CRASH_SEVERITY_ID">
                <option disabled selected>-- SELECT A CRASH SEVERITY --</option>
                <option value=1>No Injury</option>
                <option value=2>Possible Injury</option>
                <option value=3>Suspected Minor Injury</option>
                <option value=4>Suspected Serious Injury</option>
                <option value=5>Fatal</option>
            </select><br />
        </div>

        <div class="form-group">
            <p>
                <button class="btn btn-outline-info btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Additional Circumstances
                </button>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <label asp-for="WORK_ZONE_RELATED">Work Zone Related?</label>
                    <input type="checkbox" asp-for="WORK_ZONE_RELATED" />
                    <label asp-for="PEDESTRIAN_INVOLVED">Pedestrian Involved?</label>
                    <input type="checkbox" asp-for="PEDESTRIAN_INVOLVED" />
                    <label asp-for="BICYCLIST_INVOLVED">Bicyclist Involved?</label>
                    <input type="checkbox" asp-for="BICYCLIST_INVOLVED" />
                    <label asp-for="MOTORCYCLE_INVOLVED">Motorcycle Involved?</label>
                    <input type="checkbox" asp-for="MOTORCYCLE_INVOLVED" />
                    <label asp-for="IMPROPER_RESTRAINT">Improper Restraint?</label>
                    <input type="checkbox" asp-for="IMPROPER_RESTRAINT" />
                    <label asp-for="UNRESTRAINED">Unrestrained?</label>
                    <input type="checkbox" asp-for="UNRESTRAINED" />
                    <label asp-for="DUI">DUI?</label>
                    <input type="checkbox" asp-for="DUI" />
                    <label asp-for="INTERSECTION_RELATED">Intersection Related?</label>
                    <input type="checkbox" asp-for="INTERSECTION_RELATED" />
                    <label asp-for="WILD_ANIMAL_RELATED">Wild Animal Related?</label>
                    <input type="checkbox" asp-for="WILD_ANIMAL_RELATED" />
                    <label asp-for="DOMESTIC_ANIMAL_RELATED">Domestic Animal Related?</label>
                    <input type="checkbox" asp-for="DOMESTIC_ANIMAL_RELATED" />
                    <label asp-for="OVERTURN_ROLLOVER">Overturn Rollover?</label>
                    <input type="checkbox" asp-for="OVERTURN_ROLLOVER" />
                    <label asp-for="COMMERCIAL_MOTOR_VEH_INVOLVED">Comm. Veh. Involved?</label>
                    <input type="checkbox" asp-for="COMMERCIAL_MOTOR_VEH_INVOLVED" />
                    <label asp-for="TEENAGE_DRIVER_INVOLVED">Teenage Driver Involved?</label>
                    <input type="checkbox" asp-for="TEENAGE_DRIVER_INVOLVED" />
                    <label asp-for="OLDER_DRIVER_INVOLVED">Older Driver Involved?</label>
                    <input type="checkbox" asp-for="OLDER_DRIVER_INVOLVED" />
                    <label asp-for="NIGHT_DARK_CONDITION">Night/Dark?</label>
                    <input type="checkbox" asp-for="NIGHT_DARK_CONDITION" />
                    <label asp-for="SINGLE_VEHICLE">Single Vehicle?</label>
                    <input type="checkbox" asp-for="SINGLE_VEHICLE" />
                    <label asp-for="DISTRACTED_DRIVING">Distracted Driving?</label>
                    <input type="checkbox" asp-for="DISTRACTED_DRIVING" />
                    <label asp-for="DROWSY_DRIVING">Drowsy Driving?</label>
                    <input type="checkbox" asp-for="DROWSY_DRIVING" />
                    <label asp-for="ROADWAY_DEPARTURE">Roadway Departure?</label>
                    <input type="checkbox" asp-for="ROADWAY_DEPARTURE" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-success" action="submit">Submit</button>
        </div>
    </form>

</div>